<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="save.the.environment.wastelessclient">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
       >
        <activity android:name="save.the.environment.wastelessclient.activities.MainActivity" />
        <activity android:name="save.the.environment.wastelessclient.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="save.the.environment.wastelessclient.activities.BarcodeActivity"
            android:label="@string/title_activity_barcode"
        />
        <activity android:name="save.the.environment.wastelessclient.activities.InventoryActivity"/>
        <activity android:name="save.the.environment.wastelessclient.activities.OcrActivity"/>
        <activity android:name="save.the.environment.wastelessclient.activities.OcrResultActivity"/>
        <activity android:name="save.the.environment.wastelessclient.activities.OcrCaptureActivity"/>
        <activity android:name="save.the.environment.wastelessclient.data.FridgeObjects" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="ocr"/>

    </application>
</manifest>